.Sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  background-color: var(--primary-color);
  height: 100vh;
  z-index: 1000;
}

.QrButtonWrapper {
  background-color: var(--primary-color);
  position: absolute;
  right: 2px;
  bottom: 65px;
  padding: 1rem;
  border-radius: 50%;
}

.QrButton {
  background: var(--primary-color-font);
  border: none;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.QrButtonCurveLeft {
  width: 62px;
  height: 62px;
  overflow: hidden;
  position: absolute;
  top: 90px;
  right: 20px;
  overflow: hidden;
}

.QrButtonCurveRight {
  width: 62px;
  height: 62px;
  overflow: hidden;
  position: absolute;
  top: -54px;
  right: 20px;
  overflow: hidden;
  transform: rotate(90deg);
}

.QrButtonCurveLeft:before {
  content: "";
  display: block;
  width: 200%;
  height: 200%;
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 0;
  box-shadow: 31px -31px 0 0 var(--primary-color);
}

.QrButtonCurveRight:before {
  content: "";
  display: block;
  width: 200%;
  height: 200%;
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 0;
  box-shadow: 31px -31px 0 0 var(--primary-color);
}
